Build: 244
BuildMinor: 5
BuildMajor: 0
TestGame:
    Path: "Zeldroid"
    Source: "Coffee"
    run: true
    Electron: true
NeedsWork: [
    "Torch.Particles.js"
]
SourceMap: [
    "Mixins/Natives.js"
    "Mixins/EventDispatcher.js"
    "Mixins/Trashable.js"
    "Torch.js"
    "DebugConsole.js"
    "Sprite/Components/BodyManager.js"
    "Sprite/Components/SizeManager.js"
    "Sprite/Components/EventManager.js"
    "Sprite/Components/EffectManager.js"
    "Sprite/Components/StateMachineManager.js"
    "Sprite/Components/GridManager.js"
    "Sprite/Sprite.js"
    "Sprite/Text.js"
    "Sprite/SpriteGroup.js"
    "Sprite/SpriteGrid.js"
    "Sprite/Components/Collision/Collider.js"
    "Sprite/Components/Collision/AABB.js"
    "Sprite/Components/Collision/Circle.js"
    "Sprite/Components/Collision/SAT.js"
    "Sprite/Components/Collision/CollisionManager.js"
    "Game/Components/Loop.js"
    "Game/Components/Load.js"
    "Game/Components/Viewport.js"
    "Game/Components/Timer.js"
    "Game/Components/Mouse.js"
    "Game/Components/Camera.js"
    "Game/Components/Layers.js"
    "Game/Components/Style.js"
    "Game/Components/Debug.js"
    "Game/Components/Keys.js"
    "Game/Components/Tween.js"
    "Game/Components/ParticleManager.js"
    "Game/Components/Audio.js"
    "Game/Components/HookManager.js"
    "Game/CanvasGame.js"
    "Game/WebGLGame.js"
    "Game/Game.js"
    "Plugins/Platformer.js"
    "Plugins/SideScroller.js"
    "Sound.js"
    "StateMachine.js"
    "Bind.js"
    "Animation.js"
    "Color.js"
    "Electron.js"
    "CanvasRenderer.js"
    "Geometry.js"
]