Build: 99
BuildMinor: 2
BuildMajor: 0
TestGame:
    Path: "TestGame"
    Source: "Coffee"
    run: true
    Electron: true
NeedsWork: [
    "Torch.Particles.js"
]
SourceMap: [
    "three/three.min.js"
    "pixl/pixl.js"
    "math/math.js"
    "Mixins/Natives.js"
    "Mixins/EventDispatcher.js"
    "Mixins/Trashable.js"
    "Torch.js"
    "Three/ThreeEntity.js"
    "Three/ThreeSprite.js"
    "Three/Lights.js"
    "Game/Components/Loop.js"
    "Game/Components/Load.js"
    "Game/Components/Viewport.js"
    "Game/Components/Timer.js"
    "Game/Components/Mouse.js"
    "Game/Components/Camera.js"
    "Game/Components/Layers.js"
    "Game/Components/Style.js"
    "Game/Components/Debug.js"
    "Game/Components/Keys.js"
    "Game/CanvasGame.js"
    "Game/WebGLGame.js"
    "Game/Game.js"
    "Sprite/Sprite.js"
    "Sprite/Text.js"
    "Sprite/SpriteGroup.js"
    "Sprite/Colliders/Collider.js"
    "Sprite/Colliders/AABB.js"
    "Sprite/Colliders/Circle.js"
    "Sprite/Colliders/SAT.js"
    "Sprite/Colliders/CollisionManager.js"
    "Plugins/Platformer.js"
    "Plugins/SideScroller.js"
    "Sound.js"
    "StateMachine.js"
    "Bind.js"
    "Animation.js"
    "Color.js"
    "Electron.js"
    "CanvasRenderer.js"
    "Geometry.js"
]