Build: 36
BuildMinor: 6
BuildMajor: 0
TestGame:
    Path: "Zeldroid"
    Source: "Coffee"
    Run: true
    Electron: true
    Build: false
    CoffeeSources: [
        "MapMaker"
    ]
SourceMap: [
    "Utilities"
    "Mixins/Error"
    "Mixins/Natives"
    "Mixins/EventDispatcher"
    "Mixins/Trashable"
    "DebugConsole"
    "Sprite/Components/BodyManager"
    "Sprite/Components/SizeManager"
    "Sprite/Components/EventManager"
    "Sprite/Components/EffectManager"
    "Sprite/Components/StateMachineManager"
    "Sprite/Components/GridManager"
    "Sprite/Components/AnimationManager"
    "Sprite/Components/BindManager"
    "Sprite/Components/CanvasRenderer"
    "Sprite/Sprite"
    "Sprite/Text"
    "Sprite/SpriteGroup"
    "Sprite/SpriteGrid"
    "Sprite/Components/Collision/Collider"
    "Sprite/Components/Collision/AABB"
    "Sprite/Components/Collision/Circle"
    "Sprite/Components/Collision/SAT"
    "Sprite/Components/Collision/CollisionManager"
    "Game/Components/Loop"
    "Game/Components/Load"
    "Game/Components/Timer"
    "Game/Components/Mouse"
    "Game/Components/Camera"
    "Game/Components/Layers"
    "Game/Components/Style"
    "Game/Components/Debug"
    "Game/Components/Keys"
    "Game/Components/Tween"
    "Game/Components/ParticleManager"
    "Game/Components/Audio"
    "Game/Components/HookManager"
    "Game/CanvasGame"
    "Game/Game"
    "StateMachine"
    "Color"
    "Electron"
    "Geometry"
    "Torch"
]