/*Fonts*/
@font-face
{
    font-family: arcade;
    src: url(Fonts/arcade.ttf);
}
@font-face
{
    font-family: forward;
    src: url(Fonts/forward.ttf);
}

#canvas-container
{
   width: 100%;
   text-align:center;
}


body
{
    background-color: black;
    overflow: hidden;
}

canvas
{
    cursor: none;
}
