/*Fonts*/

@font-face
{
    font-family: pixel;
    src: url(Minecraft.ttf);
}


#canvas-container
{
   width: 100%;
   text-align:center;
}


body
{
    background-color: black;
}

canvas
{
    cursor: pointer;
}
