bundle: true
compress: false

files:
    [
        "torch.js"
        "Core/Player.js"
        "Core/HUD.js"
        "Core/MapPieces/MapPiece.js"
        "Core/MapPieces/Enemies/Enemy.js"
        "Core/MapManager.js"
        "Core/Zeldroid.js"
        "Core/Game.js"
    ]
