bundle: false
compress: false
run: true
electron: true

coffeeSources: [
    "MapMaker"
]

files:
    [
        "torch.js"
        "Core/Player.js"
        "Core/HUD.js"
        "Core/MapPieces/MapPiece.js"
        "Core/MapPieces/Enemies/Enemy.js"
        "Core/MapManager.js"
        "Core/Game.js"
    ]
