#main{
    outline: 2px solid;
    width: 2000px;
    height: 500px;
    background-color: #6b8cff;
}
#cursor{
    outline: 2px solid red;
    width:16px;
    height:16px;
    position:absolute;
    left:8;
    top:8
}
.preview{
    padding: 1%;
    outline: 2px solid;
    width: 12%;
    margin: 1%;
}
